footer.footer 
    .footer__logo 
        img(src='/img/logo-yellow.png' alt='logo')
    ul.footer__nav 
        li: a(href='#') About us
        li: a(href='#') CDAC 
         li: a(href='#') Contact
    p.footer__copyright &copy; by CDAC Silchar