footer
    .row.text-center
        .col-lg-4.col-md-4.footer-column
            ul.nav.flex-column 
                li.nav-item 
                    span.nav-header.text-center PRODUCTS
                li.nav-item 
                    a.nav-link(href='#') FORM4
                li.nav-item 
                    a.nav-link(href='#') FORM4A
                li.nav-item 
                    a.nav-link(href='#') FREQUENTLY ASKED QUESTIONS
        .col-lg-4.col-md-4.footer-column
            ul.nav.flex-column 
                li.nav-item 
                    span.nav-header.text-center COMPANY
                li.nav-item 
                    a.nav-link(href='#') ABOUT US
                li.nav-item 
                    a.nav-link(href='#') CONTACT US
                li.nav-item 
                    a.nav-link(href='#') CDAC
        .col-lg-4.col-md-4.footer-column
            ul.nav.flex-column 
                li.nav-item 
                    span.nav-header.text-center ABOUT THE WEBSITE
                li.nav-item
                    p.footer-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente amet libero cumque totam voluptas quibusdam nihil quasi accusantium aliquid id, velit ex hic obcaecati laborum ut ducimus reprehenderit impedit quas!
        .line
    .row.text-center
        .col-md-4.box
            span.copyright.quick-links.text-white Copyright &copy; cdac.in 2021
        .col-md-4.box 
            ul.list-inline.social-buttons 
                li.list-inline-item     
                    a.footer-link(href="#")
                        i.fab.fa-facebook-square.fa-2x
                li.list-inline-item     
                    a.footer-link(href="#")
                        i.fab.fa-twitter-square.fa-2x  
                li.list-inline-item     
                    a.footer-link(href="#")
                        i.fab.fa-linkedin.fa-2x

        .col-md-4.box
            ul.list-inline.quick-links 
                li.list-inline-item     
                    a.footer-link(href="#") Privacy Policy
                li.list-inline-item     
                    a.footer-link(href="#") Terms of use



