nav.navbar.navbar-fixed-top.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href='#')
        img.nav-logo(src='/img/cdac-logo.png')
    p.navbar-brand.navbar-brand-modifier.mx-auto
        span S.B.H.I & V.S
        br
        span MOKSHAM
        br
        span GOVERNMENT OF MAHARASTRA
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
  
    .collapse.navbar-collapse(id='navbarSupportedContent')
        ul.navbar-nav.ml-auto.text-center
            li.nav-item
                a.nav-link(href='/') Home
            li.nav-item
                a.nav-link(href='#') How to apply
            li.nav-item
                a.nav-link(href='#') FAQs
  
        ul.navbar-nav.nav-modifier.float-right
            if user
                li.nav-item
                    a.nav-link.nav__el(href="/me")
                        img.nav__user-img(src='/img/user.png' alt='user-photo')
                        span.user__name=user.name.split(' ')[0]    
                li.nav-item 
                    a.nav-link.nav__el.nav__el--logout Log out
            else
                li.nav-item
                    a.nav-link(href='/login') Log in 
                li.nav-item
                    a.nav-link(href='/signup') Sign up