extends base

block content
    main.main
        .adminOverview
            .adminOverview__main--box

                h1.heading-primary.ma-bt-lg=`Hey ${user.name}`
                br
                h1.heading-primary.ma-bt-lg='Please select a type of form for verification'
                br
                .center
                    a.nav__el.nav__el--bg(href='/form4') Form 4
                    a.nav__el.nav__el--bg(href='#') Form 4a