extends base

block content
    h3.heading.text-center 
        span.text-uppercase.font-weight-bold FORM NO.4
        br
        span.font-weight-bold (See Rule no. 7)
        br
        span.text-uppercase.font-weight-bold MEDICAL CERTIFICATE FOR CAUSE OF DEATH
        br
        span (hospital in patient not to be used for stillbirths)
        br
        span To be sent to Registrar along with Form no.2 (Death Report)

    form.form.form-create-form4
        .form-group.text-center
            label.form-label.font-weight-bold(for='hospitalName') Name of the Hospital:
            input#hospitalName.form-input.form-input--modifier.font-weight-bold(type='text', placeholder=' ..................................................................................',required)
        .form-group.text-center
            span I hereby certify that the person whose particulars are given below died in the hospital in 
            br
            span ward no
            input#wardNo.form-input.form-input--modifier.font-weight-bold(type='number', placeholder=' ...............................................', required)
            span on 
            input#deathTime.form-input.form-input--modifier(type="text", placeholder='................................................................'  onfocus="(this.type='date')", required )
                   
            span at
            input#deathTime.form-input.form-input--modifier.font-weight-bold(type='text', placeholder=' ...............................................', required )
        .form-group
            table
                tr  
                    td(colspan=5)
                        div
                            label.form-label.font-weight-bold.text-uppercase(for='hospitalName') Name of the Deceased 
                            input#nameOftheDeceased.form-input.form-input--modifier(type='text',required)
                    td(rowspan=3)
                        div
                            span.text-center For Use of statistical office
                tr 
                    td.text-center(rowspan=2) sex 
                    td.text-center(colspan=4) age at death
                tr
                    td If one year or more age in years
                    td If less then one year age in months
                    td If less then one month age in days
                    td If less then one day age in hours

                tr
                    td.ml-2
                        input#sex(type='radio' name='sex' value='male')
                        label(for='male' value='male') 1.Male 
                        br
                        input#sex(type='radio' name='sex' value='female')
                        label(for='female' name='sex' value='female') 2.Female 
                            
                    td 
                        input#age.form-input(type='number' placeholder='age in years')
                    td
                        input#age.form-input(type='number' placeholder='age in months')
                    td
                        input#age.form-input(type='number' placeholder='age in days')
                    td
                        input#age.form-input(type='number' placeholder='age in hours')
                    td

                    tr

                        td(colspan='3')
                            .row 
                                .col-sm-7 
                                    br
                                    h5.text-center.font-weight-bold.text-uppercase Cause of Death
                                    br
                                    span.immediate-cause.ml-2 I. Immediate Cause
                                    p.form-paragraph State the disease, injury or complication which Caused death, not the mode of dying such as Hear failure, asthenia, etc.
                                    span.antacedent-cause.ml-2 II. Antacedent Cause 
                                    p.form-paragraph Morbid conditions, if any, giving rise to the above Cause, stating underlying conditions last
                                    span.other-cause.ml-2 Other Significant Cause 
                                    p.form-paragraph Other Significant conditions contributing to the Death but not related to the diseases or conditions causing it.
                        td
                            .pad
                                span (a)
                                input#immediateCause(type='text' placeholder='.....................')
                                br
                                span due to (or as consiquence of) 
                            .pad
                                span (b)
                                input#antacedentCause(type='text' placeholder='.....................')
                                br
                                span due to (or as consiquence of) 
                            .pad
                                span (c)
                                input#otherCause(type='text' placeholder='.....................')
                                br
                                span due to (or as consiquence of) 
                        td.mx-auto
                            label.form-label(for='intervalBetweenOnsetDeath') 
                                span Interval Between 
                                br
                                span Onset & death
                                br
                                span Approx.
                            input#intervalBetnOnsetDeath(type='text' placeholder='.......................')
                        td
                    tr 
                        td.ml-5(colspan='3')
                            span
                                u Manner of Death
                            br
                            input#mannerOfDeath(type='radio' name='mannerOfDeath' value='natural')
                            label.mr-2(for='natural' value='natural') Natural
                            input#mannerOfDeath(type='radio' name='mannerOfDeath' value='accident')
                            label.mr-2(for='accident' name='mannerOfDeath' value='accident') Accident
                            input#mannerOfDeath(type='radio' name='mannerOfDeath' value='Suicide')
                            label.mr-2(for='suicide' name='mannerOfDeath' value='suicide') Suicide 
                            input#mannerOfDeath(type='radio' name='mannerOfDeath' value='homicide')
                            label.mr-2(for='homicide' name='mannerOfDeath' value='homicide') Homicide
                            br
                            input#mannerOfDeath(type='radio' name='mannerOfDeath' value='PoliceInvestigation')
                            label.mr-2(for='PoliceInvestigation' name='mannerOfDeath' value='policeInvestigation') Police Investigation
                            br
                            span.ml-4 If deceased was a female, was pregnancy the death associated with?
                            br
                            br
                            span-ml-3 If yes, was there a delivery?
                            input.ml-5#isDelivery(type='radio' name='isPregnent' value='yes')
                            label.mr-5(for='yes' name='isPregnent' value='yes') 1.YES
                            input#isDelivery(type='radio' name='isPregnent' value='no')
                            label(for='no' name='isPregnent' value='no') 2.NO

                        td.mx-auto(colspan='3') 
                            label.ml-3(for='howInjury') How did the injury Occured?
                            input#howInjury.form-input.form-input--modifier(type='text' placeholder='.................')
                            br
                            input.ml-5#isPregnent(type='radio' name='isDelivery' value='yes')
                            label.mr-5(for='yes' name='isDelivery' value='yes') 1.YES
                            input#isPregnet(type='radio' name='isDelivery' value='no')
                            label(for='no' name='isPregnent' value='no') 2.NO
    .line
    .certificate
        h3.heading.text.heading-certificate-left
            span.font-weight-bold.text-center (To be detached and handed over to the relative of the deceased)
            br
            br
            span Certified that 
                select.ml-2#namehead(nameHead) 
                        option(value='sri') Sri
                        option(value='smt') Smt
                        option(value='kum') Kum 
                input.form-input--modifier(type='text' placeholder='................................................................')
            span 
                select.mx-2#relation(relation) 
                        option(value='S') S
                        option(value='M') M
                        option(value='D') D 
            span of Shri
                input.form-input--modifier(type='text' placeholder='................................................................')
            br
            span R/O
                input.form-input--modifier(type='text' placeholder='................................................................')
            span was admitted to this hospital 
                input.form-input--modifier(type='text' placeholder='................................................................')
            br
            span and has expired on
                input#deathTime.form-input.form-input--modifier(type="text", placeholder='................................................................'  onfocus="(this.type='date')", required )





