extends base

block content
    h3.heading.text-center 
        span.text-uppercase.font-weight-bold FORM NO.4A
        br
        span.font-weight-bold (See Rule no. 7)
        br
        span.text-uppercase.font-weight-bold MEDICAL CERTIFICATE FOR CAUSE OF DEATH
        br
        span (For Non-Institutional deaths. Not to be used for stillbirths)
        br
        span To be sent to Registrar along with From No.2 (Death Report)

    form.form.form-create-form4a
        .form-group.text-center
            span I hereby certify that the deceased
            select.mx-2#namePrefix.form--select(namePrefix)
                option(value='Shri') Shri 
                option(value='Smt') Smt
                option(value='.km') .Km
            input#nameOftheDeceased.form-input.form-input--modifier(type='text', placeholder='................................................................',required)
            select.mx-2#relation.form--select(relation)
                option(value='son of') Son Of 
                option(value='wife of') Wife Of
                option(value='daughter of') Daughter Of
            br
            input#relationName.form-input.form-input--modifier(type='text', placeholder='................................................................',required)
                   
            span resident of
            input#residentLocation.form-input.form-input--modifier(type='text', placeholder='................................................................',required)
            span was under my treatment from
            input#treatmentStartOn.form-input.form-input--modifier(type="text", placeholder='................................................................'  onfocus="(this.type='date')", required )
            br
            span to
            input#treatmentEndOn.form-input.form-input--modifier(type="text", placeholder='................................................................'  onfocus="(this.type='date')", required )
            span and
            select.mx-2#heshe.form--select(heshe)
                option(value='He') he
                option(value='She') she 
            span died on 
            input#patientDiedOn.form-input.form-input--modifier(type="text", placeholder='................................................................'  onfocus="(this.type='date')", required )
            span at 
            input#deathTime.form-input.form-input--modifier(type="text", placeholder='................................................................', required )

        .form-group
            table
                tr  
                    td(colspan=5)
                        div
                            label.form-label.font-weight-bold.text-uppercase(for='hospitalName') Name of the Deceased 
                            input#nameOftheDeceased.form-input.form-input--modifier(type='text',required)
                    td(rowspan=3)
                        div.ml-1.text-center
                            span For Use of statistical office
                tr 
                    td.text-center(rowspan=2) sex 
                    td.text-center(colspan=4) age at death
                tr
                    td
                        input#typeYear(type='radio' name='ageType' value='years')
                        span If one year or more age in years
                    td
                        input#typeMonth(type='radio' name='ageType' value='months')
                        span If less then one year age in months
                    td
                        input#typeDay(type='radio' name='ageType' value='days')
                        span If less then one month age in days
                    td 
                        input#typeHour(type='radio' name='ageType' value='hour')
                        span If less then one day age in hours

                tr
                    td.ml-2
                        input#male(type='radio' name='sex' value='male')
                        label(for='male' value='male') 1.Male 
                        br
                        input#female(type='radio' name='sex' value='female')
                        label(for='female' name='sex' value='female') 2.Female 
                            
                    td 
                        input#ageYear.form-input.mx-auto.form-input--modifier(type='number' placeholder='IF AGE IS IN YEARS')
                    td
                        input#ageMonth.form-input.mx-auto.form-input--modifier(type='number' placeholder='IF AGE IS IN MONTHS')
                    td
                        input#ageDay.form-input.mx-auto.form-input--modifier(type='number' placeholder='IF AGE IS IN DAYS')
                    td
                        input#ageHour.form-input.mx-auto.form-input--modifier(type='number' placeholder='IF AGE IS IN HOURS')
                    td

                    tr

                        td(colspan='3')
                            .row 
                                .col-sm-7 
                                    br
                                    h5.text-center.font-weight-bold.text-uppercase Cause of Death
                                    br
                                    span.immediate-cause.ml-2 I. Immediate Cause
                                    p.form-paragraph State the disease, injury or complication which Caused death, not the mode of dying such as Hear failure, asthenia, etc.
                                    span.antacedent-cause.ml-2 II. Antacedent Cause 
                                    p.form-paragraph Morbid conditions, if any, giving rise to the above Cause, stating underlying conditions last
                                    span.other-cause.ml-2 Other Significant Cause 
                                    p.form-paragraph Other Significant conditions contributing to the Death but not related to the diseases or conditions causing it.
                        td
                            .pad
                                span (a)
                                br
                                select#immediateCause.form-label.font-weight-bold(name='immediateCause' placeholder='.....................')
                                    option(value="null") Select desease here....
                                    option(value="A00.0 Cholera due to Vibrio cholerae 01, biovar cholerae") biovar cholerae
                                    option(value='A00.1 Cholera due to Vibrio cholerae 01, biovar eltor') biovar eltor
                                    option(value="A00.9 Cholera, unspecified ") Cholera
                                    option(value="A01.0 Typhoid fever") Typhoid fever
                                    option(value="A01.1 Paratyphoid fever A") Paratyphoid fever A
                                    option(value="A01.2 Paratyphoid fever B") Paratyphoid fever B
                                    option(value="A01.3 Paratyphoid fever C") Paratyphoid fever C
                                    option(value="A01.4 Paratyphoid fever, unspecified") Paratyphoid fever
                                    option(value="A02.0 Salmonella enteritis") Salmonella enteritis
                                    option(value="A02.1 Salmonella sepsis") Salmonella sepsis
                                    option(value="A02.2 Localized salmonella infections") Localized salmonella infections
                                    option(value="A02.8 Other specified salmonella infections") Other specified salmonella infections
                                    option(value="A02.9 Salmonella infection, unspecified") Salmonella infection, unspecified
                                br
                                span due to (or as consiquence of) 
                            .pad
                                span (b)
                                input#antecedentCause(type='text' placeholder='.....................')
                                br
                                span due to (or as consiquence of) 
                            .pad
                                span (c)
                                input#otherSignificantCause(type='text' placeholder='.....................')
                                br
                                span due to (or as consiquence of) 
                        td.ml-2.text-center
                            label.form-label(for='intervalBetweenOnsetDeath') 
                                span Interval Between 
                                br
                                span Onset & death
                                br
                                span Approx.
                            input#intervalOnsetDeath(type='text' placeholder='.......................')
                        td
                    tr 
                        td.ml-5(colspan='3')
                            span
                                u Manner of Death
                            br
                            input#natural(type='radio' name='mannerOfDeath' value='natural')
                            label.mr-2(for='natural' value='natural') Natural
                            input#accident(type='radio' name='mannerOfDeath' value='accident')
                            label.mr-2(for='accident' name='mannerOfDeath' value='accident') Accident
                            input#suicide(type='radio' name='mannerOfDeath' value='suicide')
                            label.mr-2(for='suicide' name='mannerOfDeath' value='suicide') Suicide 
                            input#homicide(type='radio' name='mannerOfDeath' value='homicide')
                            label.mr-2(for='homicide' name='mannerOfDeath' value='homicide') Homicide
                            br
                            input#policeInvestigation(type='radio' name='mannerOfDeath' value='pending investigation')
                            label.mr-2(for='PoliceInvestigation' name='mannerOfDeath' value='pendingInvestigation') Police Investigation
                            br
                            span.ml-4 If deceased was a female, was pregnancy the death associated with?
                            input.ml-5#isPregnentTrue(type='radio' name='isPregnent' value='yes')
                            label.mr-5(for='yes' name='isPregnent' value='yes') 1.YES
                            input#isPregnentFalse(type='radio' name='isPregnent' value='no')
                            label(for='no' name='isPregnent' value='no') 2.NO

                        td.mx-auto(colspan='3') 
                            label.ml-3(for='howInjury') How did the injury Occured?
                            input#howInjuryOccured.form-input.form-input--modifier.input-textarea(type='text' minlength="10" maxlength="45")
                            br
                            br
                            span-ml-3 If yes, was there a delivery?
                            input.ml-5#isDeliveryTrue(type='radio' name='isDelivery' value='yes')
                            label.mr-5(for='yes' name='isDelivery' value='yes') 1.YES
                            input#isDeliveryFalse(type='radio' name='isDelivery' value='no')
                            label(for='no' name='isPregnent' value='no') 2.NO
        .form-group.text-center
            button.btn.btn-lg.btn-success Submit
    .line
    .certificate
        h3.heading.text.heading-certificate-left
            span.font-weight-bold.text-center (To be detached and handed over to the relative of the deceased)
            br
            br
            span Certified that 
                select.ml-2#namehead(nameHead) 
                        option(value='sri') Sri
                        option(value='smt') Smt
                        option(value='kum') Kum 
                input.form-input--modifier(type='text' placeholder='................................................................')
            span 
                select.mx-2#relation(relation) 
                        option(value='S') S
                        option(value='M') M
                        option(value='D') D 
            span of Shri
                input.form-input--modifier(type='text' placeholder='................................................................')
            br
            span R/O
                input.form-input--modifier(type='text' placeholder='................................................................')
            span was under my treatment from
            input#treatmentStartOn.form-input.form-input--modifier(type="text", placeholder='................................................................'  onfocus="(this.type='date')", required )
            br
            span to
            input#treatmentEndOn.form-input.form-input--modifier(type="text", placeholder='................................................................'  onfocus="(this.type='date')", required )
            span and
            select.mx-2#heshe.form--select(heshe)
                option(value='He') he
                option(value='She') she 
            span died on 
            input#patientDiedOn.form-input.form-input--modifier(type="text", placeholder='................................................................'  onfocus="(this.type='date')", required )
            span at 
            input#deathTime.form-input.form-input--modifier(type="text", placeholder='................................................................', required )

    .line