extends base

block content 
    main.main
        .jumbotron.jumbotron-modifier
            .login-form 
                h2.heading-primary.ma-bt Signup for a new account
                form.form.form--signup
                    .form__group
                        label.form__label(for='name') NAME:
                        input#name.form__input.form-control(type='text', placeholder='your_name',required)
                    .form__group.ma-bt-md 
                        label.form__label(for='email') EMAIL ADDRESS:
                        input#email.form__input.form-control(type='text', placeholder='you@example.com',required)
                    .form-group
                        label.form__label(for='password') PASSWORD:
                        input#password.form__input.form-control(type='password', placeholder='.........',required,
                        minlength='8')
                    .form-group
                        label.form__label(for='password') CONFIRM PASSWORD:
                        input#passwordConfirm.form__input.form-control(type='password', placeholder='.........',required,
                        minlength='8')
                    .form-group 
                        button.btn.btn-light.btn-outline-primary.btn-lg SIGNUP