extends base

block content
    main.main
        .userOverview
            .userOverview__main--box

                h1.heading-primary.ma-bt-lg=`Welcome ${user.name}`
                br
                h1.heading-primary.ma-bt-lg='Please click on a form to fill'
                br
                .center
                    a.nav__el.nav__el--bg(href='/post-form4') Form 4
                    a.nav__el.nav__el--bg(href='/post-form4a') Form 4a
              

