/*
color-blue:#2980b9

*/


/*:root {
    --section-rotate: 9vw;
  }
  */
  
  ::-moz-selection {
    background-color: #2980b9;
    color: #fff;
  }
  
  ::selection {
    background-color: #2980b9;
    color: #fff;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
  
  html {
    font-size: 62.5%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    line-height: 1.6;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    color: #777;
    padding: 3rem;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .ma-bt-md {
    margin-bottom: 3rem !important;
  }

  .ma-bt-lg {
    margin-bottom: 3.5rem !important;
  }
  .right {
    text-align: right !important;
  }
  .center{
    text-align: center !important;
  }

  .line {
    margin: 6rem 0;
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
  }
  .alert {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1.6rem 15rem;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  }
  .alert--success {
    background-color: #20bf6b;
  }
  .alert--error {
    background-color: #eb4d4b;
  }



  /*-----------------------------------------HEADER-----------------------------------------------*/
  .header {
    background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(#43C6AC),
      to(#191654)
    );
    background-image: linear-gradient(to right bottom, #43C6AC, #191654);
    opacity: 0.9;
    background-color:#f7f7f7;
    padding: 0 5rem;
    height: 10rem;
    position: relative;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; */
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  @media only screen and (max-width: 62.5em) {
    .header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
  .header__logo img {
    height: 8rem;
  @media only screen and (max-width: 62.5em) {
    .header__logo {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      margin-bottom: 1.5rem;
    }
  }
}
  .header__hero {
    height: 100%;
  }

  .header__hero-img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
    -o-object-position: 50% 25%;
    object-position: 50% 25%;
  }

  .section-cta {
    margin-top: calc(0px - var(--section-rotate));
    padding: 3rem;
    padding-bottom: 11rem;
    padding-top: calc(15rem + var(--section-rotate));
    background-color: #f7f7f7;
  }
  
  .cta {
    position: relative;
    max-width: 105rem;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
    padding: 9rem 5rem 9rem 21rem;
    border-radius: 2rem;
    -webkit-box-shadow: 0 3rem 8rem 0.5rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 3rem 8rem 0.5rem rgba(0, 0, 0, 0.15);
  }


  /*-----------------------------FOOTER--------------------------------------*/
  .footer {
    background-color: rgba(129, 129, 129, 0.308);
    padding: 6rem 4rem 3rem 4rem;
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 0.75rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  @media only screen and (max-width: 50em) {
    .footer {
      grid-template-columns: 1fr;
      grid-row-gap: 1.25rem;
      justify-items: center;
    }
  }
  .footer__logo {
    grid-row: 1 / 3;
    -ms-flex-item-align: center;
    align-self: center;
  }
  @media only screen and (max-width: 50em) {
    .footer__logo {
      grid-row: 1;
    }
  }
  .footer__logo img {
    height: 12rem;
  }
  .footer__nav {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
  }
  .footer__nav li {
    margin-left: 1.5rem;
  }
  .footer__nav a {
    color: #fff;
    text-decoration: none !important;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .footer__nav a:hover,
  .footer__nav a:active {
    color: #2980b9;
  }
  .footer__copyright {
    justify-self: end;
    color: #fff;
  }
  @media only screen and (max-width: 50em) {
    .footer__copyright {
      justify-self: center;
    }
  }


/*-----------------NAV----------------------*/

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  @media only screen and (max-width: 37.5em) {
    .nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }

  .nav--forms {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 31%;
    flex: 0 1 31%;
  }
  @media only screen and (max-width: 62.5em) {
    .nav--forms {
      margin-bottom: 1.5rem;
    }
  }
  @media only screen and (max-width: 37.5em) {
    .nav--forms {
      margin-bottom: 0;
    }
  }
  .nav__el,
  .nav__el:link,
  .nav__el:visited {
    color: #f7f7f7;
    text-transform: uppercase;
    font-size: 1.6rem;
    text-decoration: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    font-weight: 400;
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
  }
  .nav__el:hover,
  .nav__el:active {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    text-shadow: 0 0.7rem 1rem black;
  }
  .nav__el:not(:last-child) {
    margin-right: 3rem;
  }
  @media only screen and (max-width: 37.5em) {
    .nav__el:not(:last-child) {
      margin-right: 0;
      margin-bottom: 1.2rem;
    }
  }
  .nav__el:focus {
    outline: none;
  }
  .nav__el--cta {
    padding: 1rem 3rem;
    border-radius: 10rem;
    border: 1px solid currentColor !important;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .nav__el--bg{
    padding: 1rem 3rem;
    border-radius: 10rem;
    background-color: #5391bb !important;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .nav__el--cta:hover {
    background-color: #f7f7f7;
    color: #777;
    text-shadow: none;
    border-color: #f7f7f7;
  }

  .nav__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  @media only screen and (max-width: 37.5em) {
    .nav__search {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      margin-bottom: 1.2rem;
    }
  }
  .nav__search-btn {
    background: none;
    border: none;
    margin-right: 0.8rem;
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  .nav__search-btn svg {
    height: 2rem;
    width: 2rem;
    fill: #f7f7f7;
  }
  .nav__search-input {
    font-family: inherit;
    font-weight: inherit;
    text-transform: uppercase;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #f7f7f7;
    padding-bottom: 3px;
    border-bottom: 1px solid #999;
    width: 18rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .nav__search-input::-webkit-input-placeholder {
    color: #999;
  }
  .nav__search-input:-ms-input-placeholder {
    color: #999;
  }
  .nav__search-input::-ms-input-placeholder {
    color: #999;
  }
  .nav__search-input::placeholder {
    color: #999;
  }
  .nav__search-input:focus {
    outline: none;
    width: 25rem;
    border-bottom: 1px solid currentColor;
  }
  .nav__user-img {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

  .user__name{
    color: #fff;
    font-size:1.75rem;
  }

  /*--------------------------------------card---------------------------------------*/
  .card-container {
    max-width: 120rem;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7rem;
  }
  
  
.card {
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.card__header {
  position: relative;
}
  .card__picture {
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
    clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
    height: 22rem;
  }
  .card__picture-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(#43C6AC),
      to(#191654)
    );
    background-image: linear-gradient(to right bottom, #43C6AC, #191654);
    opacity: 0.7;
  }
  .card__picture-img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
.card__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1.75rem;
  grid-column-gap: 2rem;
  padding: 2.5rem 3rem;
}
.card__sub-heading {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  grid-column: 1 / -1;
}
.card__text {
  grid-column: 1 / -1;
  font-size: 1.5rem;
  font-style: italic;
  margin-top: -1rem;
  margin-bottom: 0.75rem;
}
.card__data {
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.card__data svg {
  margin-right: 0.7rem;
}
.card__icon {
  height: 2rem;
  width: 2rem;
  fill: #2980b9;
}
.card__footer {
  background-color: #f7f7f7;
  padding: 2.5rem 3rem;
  border-top: 1px solid #f1f1f1;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-top: auto;
}
.card__footer-value {
  font-weight: 400;
  color:#777;
}
.card__footer-text {
  font-weight: 400;
  color:#777
}
.card .btn-small,
.card .btn {
  grid-row: 1 / 3;
  justify-self: end;
  -ms-flex-item-align: center;
  align-self: center;
}

/*------------------------------------------------------buttons--------------------------------------------*/
.btn,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  padding: 1.4rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 400;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /*Add later when we use this for the button in form*/
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:active {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
  background-color: #2e864b;
}

.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}

.btn--green {
  background-color: #2980b9;
  color: #fff;
}
.btn--green::after {
  background-color: #2980b9;
}

.btn--small {
  padding: 1.25rem 3rem !important;
  font-size: 1.4rem !important;
}

.btn--small,
.btn--small:link,
.btn--small:visited {
  background-color: #2980b9;
  color: #fff;
  font-size: 1.4rem;
  padding: 1.25rem 3rem;
  border-radius: 10rem;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  text-decoration: none;
  font-weight: 400;
  border: none;
}

.btn--small:hover {
  background-color: #fff;
  color:#2980b9;
  border:1px solid #2980b9;
  font-weight: 700;
}

.btn-text:link,
.btn-text:visited {
  color: #2980b9;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #2980b9;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-text:hover {
  background-color: #2980b9;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.btn-text:active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn-text:focus {
  outline: none;
  outline: 3px solid #2980b9;
  outline-offset: 3px;
}

/*----------------------------------------------headings----------------------------------------------*/

.heading-secondary {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#43C6AC),
    to(#191654)
  );
  background-image: linear-gradient(to right, #43C6AC, #191654);
  background-clip:text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}
.heading-secondary--error {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff7730),
    to(#eb4d4b)
  );
  background-image: linear-gradient(to right, #ff7730, #eb4d4b);
  font-size: 3.5rem;
}

.heading-primary,
.heading-tertirary {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}
.heading-primary span,
.heading-tertirary span {
  color:#191654;
  font-size: 3.25rem;
  padding: 1rem 1.5rem;
  line-height: 1;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#43C6AC),
    to(#191654),
  );
  background-image: linear-gradient(
    to bottom right,
    #43C6AC,
    #191654,
    
  );
}

.heading-primary {
  font-size: 3rem;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  color: #2980b9;
  font-weight:700;
}

.heading-tertirary {
  
  font-size: 1.75rem;
  text-align: left;
  width: 80%;
  z-index: 10;
  color: #44a390;
}

.heading-female{
  font-weight:700;
  margin-top:5rem;
}
/***********************One Form Detail*********************************/

.heading-four{
  font-size:1.75rem;
  color:#777;
}

/*
.header__hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#7dd56f),
    to(#28b487)
  );
  background-image: linear-gradient(to right bottom,#43C6AC,#191654);
  opacity: 0.15;
}

*/
.hero-para{
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.heading-para{
  font-size: 2rem;
  margin:0 10rem 5rem;
  width: 100%;
}
.heading-margin{
  margin:5rem 10rem 2rem;
}

/*************************One form*************************/


.section-header {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 100%;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
  -webkit-clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--section-rotate)),
    0 100%
  );
}

.section-description {
  position: relative;
  background-color: #f7f7f7;
  margin-top: calc(0px - var(--section-rotate));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-description > * {
  padding: 0 8vw;
  padding-top: 5vw;
  padding-bottom: 2rem;/*calc(0.3vw + var(--section-rotate));*/
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.description-box .description {
  margin-right: 5rem;
}
.description-box .description__text {
  font-size: 1.7rem;
}
.description-box .description__text:not(:last-child) {
  margin-bottom: 2rem;
}

.overview-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.overview-box__group:not(:last-child) {
  margin-bottom: 7rem;
}
.overview-box__detail {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 400;
}
.overview-box__detail svg {
  margin-right: 1.25rem;
}
.overview-box__detail:not(:last-child) {
  margin-bottom: 2.25rem;
}
.overview-box__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: #55c57a;
}
.overview-box__label {
  font-weight: 700;
  margin-right: 2.25rem;
  text-transform: uppercase;
  font-size: 1.4rem;
}
.overview-box__text {
  text-transform: capitalize;
}

.section--end{
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#43C6AC),
    to(#191654)
  );
  background-image: linear-gradient(to right bottom, #43C6AC, #191654);
  opacity: 0.9;
}

.btn--end{
  margin:2rem;
}

/***************************Log in ******************************/

.login-form {
  margin: 7rem auto;
  max-width: 60rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 8rem 12rem;
  border-radius: 5px;
}

.form__input {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.25rem 1.75rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Pseudo element (a visible thing that isn't really in the DOM).
      Also needs -ms- */
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}

.form__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

/*********Error*************/


.error {
  /* position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  background:#f7f7f7;
  /* padding:5rem; */
  margin:15rem auto;
  max-width: 80rem;
  text-align: center;

}
.error__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.error__emoji {
  font-size: 3.75rem;
  margin-left: 1rem;
}
.error__msg {
  font-size: 2.5rem;
  font-weight: 700;
  max-width: 50rem;
  margin: 0 auto;
}

/******************USER PAGE************/

.nav__user-img {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.side-nav {
  list-style: none;
}
.side-nav li {
  margin: 1rem 0;
  border-left: 0 solid #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.side-nav--active,
.side-nav li:hover {
  border-left: 4px solid #fff !important;
}
.side-nav--active a {
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}
.side-nav a:link,
.side-nav a:visited {
  padding: 1rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.side-nav a:hover,
.side-nav a:active {
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
}
.side-nav svg {
  height: 1.9rem;
  width: 1.9rem;
  fill: #f7f7f7;
  margin-right: 2rem;
}

.admin-nav {
  margin-top: 5.5rem;
}
.admin-nav__heading {
  margin: 0 5rem 1.5rem 4rem;
  padding-bottom: 3px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #f2f2f2;
  border-bottom: 1px solid currentColor;
}


.form__input {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.25rem 1.75rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Pseudo element (a visible thing that isn't really in the DOM).
      Also needs -ms- */
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}

.form__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.form__photo-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.6rem;
}

.form__user-photo {
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.form__upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form__upload:focus + label {
  outline: 3px solid #55c57a;
  outline-offset: 3px;
}

.form__upload + label {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}
.form__upload + label:hover {
  background-color: #55c57a;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}


.user-view {
  background-color: #fff;
  max-width: 120rem;
  margin: 0 auto;
  min-height: 100vh;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.user-view__menu {
  -webkit-box-flex: 32rem;
  -ms-flex: 32rem 0 0px;
  flex: 32rem 0 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
   from(#43C6AC), to(#191654)
  );
  background-image: linear-gradient(to right bottom, #43C6AC, #191654);
  padding: 4rem 0;
}
.user-view__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 7rem 0;
}
.user-view__form-container {
  max-width: 68rem;
  margin: 0 auto;
  padding: 0 8rem;
}

.userOverview ,.adminOverview{
  max-width: 120rem;
  margin: 2rem auto;
  height:60vh;
  margin:auto;
  background-color:#297fb925;
  position: relative;
}

.userOverview__main--box, .adminOverview__main--box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/***********************************************************   FORMS   ***********************************************************/

.section__form4, .section__form4a{
  background-color:rgba(39, 160, 160, 0.404);
}

.section__form4--header, .section__form4a--header{
  margin:0 auto;
  text-align: center;
  height: 18vh;
}

.heading-form4{
  font-size: 2rem;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  color: #191654;
  font-weight:700;
}

.heading-paragraph{
  font-size:1.5rem;
  text-align: center;
  font-weight:700;
  color: #191654;
}

.form-create-form4, .form-create-form4a{
margin: 0 auto;
max-width: 100rem;
background-color: #fff;
-webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
padding: 5rem 7rem;
border-radius: 5px;
}

.form__paragraph{
  display:inline;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 0.75rem;
  margin-left:1rem;
}

.form__label--small{
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
  margin-left:0.50rem;
  margin-right:0.50rem;
}

.form__input-small{
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.25rem 1.75rem;
  border: none;
  width: 20%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right:0.50rem;
  margin-bottom:0.50rem;
  margin-left:0.50rem;
  /* Pseudo element (a visible thing that isn't really in the DOM).
      Also needs -ms- */
}
.form--select{
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.25rem 1.75rem;
  margin-right:0.50rem;
  margin-left:0.50rem;
  margin-bottom: 0.75rem;
  background-color: #fff;
  background-color: #f2f2f2;
}

/*************************************************Header Home ************************************************/

.headerHome {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#16222A),
    to(#3A6073)
  );
  background-image: linear-gradient(to right bottom,#16222A ,#3A6073 );
  opacity: 0.9;
  background-color:#f7f7f7;
  padding: 0 5rem;
  height: 18rem;
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  /* display: flex; */
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media only screen and (max-width: 62.5em) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.headerHome__logo--left img ,.headerHome__logo--right img {

@media only screen and (max-width: 62.5em) {
  .header__logo--left {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 1.5rem;
  }
}
}

.headerHome__logo--left img{
  height: 18rem;
}

.headerHome__logo--right img {
  height: 20rem;
}

.heading-home{
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-weight:400;
}
.slider-container{
  background:rgba(75, 128, 128, 0.699);
  display:flex;
  justify-content:left;
}

.slider-frame{
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height:65vh;
  width:65%;
  margin-right: 5rem;
}

@keyframes slide_animation {
  0% {left:0%;}
  10% {left:0%;}
  20% {left:100%;}
  30% {left:100%;}
  40% {left:200%;}
  50% {left:200%;}
  60% {left:100%;}
  70% {left:100%;}
  80% {left:0%;}
  90% {left:0%;}
  100% {left:0%;}
}
@-webkit-keyframes slide_animation{
  0% {left:0%;}
  10% {left:0%;}
  20% {left:100%;}
  30% {left:100%;}
  40% {left:200%;}
  50% {left:200%;}
  60% {left:100%;}
  70% {left:100%;}
  80% {left:0%;}
  90% {left:0%;}
  100% {left:0%;}
}

.slide-images{
  width:3600px;
  height:800px;
  margin:0 0 0 -2400px;
  position:relative;
  -webkit-animation-name: slide_animation;
  animation-name: slide_animation;
  -webkit-animation-duration: 33s;
  animation-duration: 33s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.img-container{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url(/img/1.jpg);
  background-size: cover;
  background-position: center;
  height:800px;
  width:1200px;
  padding: 50px;
  position:relative;
  float: left;

}

.firstImg{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(/img/1.jpg);
}

.secondImg{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(/img/2.jpg);
}

.thirdImg{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(/img/3.jpg);
}

.heading-img{
  font-size: 5rem;
  letter-spacing: 4px;
  text-align:center;
  margin-bottom: 20px;
  text-align: center;
  font-weight:400;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top:40%;
  left:10%;
}

.heading-home-modified{
  font-size:3rem;
  text-transform: uppercase;
  letter-spacing:0.5rem;
  word-spacing: 1rem;
  margin-bottom: 1rem;
}

.nav__el--home{
  align-items: center;
  text-align:center;
  padding: 1rem 3rem;
  border-radius: 10rem;
  border: 1px solid currentColor !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center !important;
}

.nav__el--home:hover {
  background-color: rgba(75, 128, 128, 0.747);
  color: #f7f7f7;
  text-shadow: none;
  border: 1px solid currentColor !important;
  border-color: rgb(75, 128, 128);
}

.sectionHome{
  width:30%
}

.paragraph-home{
  font-size: 1.75rem;
  text-align: left;
  margin: 2rem auto;
  color: #fff;
  font-weight:300;
  line-height: 3rem;
}